 
/* CSS Variable */
:root {
    --commie-red:#cb1d1d;
}

html, body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
    /* font-size: 62.5%; sets the base font-size(rem) to 10px so .1rem = 1px    */
}


/* housekeeping - set default attributes */
body  * {
 /*   border: .05rem red solid;  for debugging */
}

/* body grid - alternative to styling body directly */
.body-layout {
    min-height: 100vh;
    min-height: 100dvh;

    display: grid; 
    grid-template-rows: auto 1fr auto;   
}


/*  Navbar  */
.game-logo {
    min-width: .5em;
    max-width: 5vw;
    min-height: .5rem;
    max-height: 5vw;
}

.navbar{
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul{
    margin: 0;
    padding: 0;
    display:flex;
}

.nav-links li{
    list-style-type: none;  
    margin: .5rem;
}

/* game controls */
.game-control-container{
    display:flex;
    width: 100%;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
}

.game-control-difficulty{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.game-control-difficulty-buttons input{
    margin-bottom: 0;
    padding-bottom: 0;
}

.game-control-difficulty-bars{
    display:flex;
    align-items: flex-end;    
}

.difficulty-bar{
    background-color: var(--commie-red);
    width: 13px;
/*    margin: 0px 3px 0px 5px; */
}

.bar-small{
    height: 4px;
    margin: 0px 8px 0px 4px;
}

.bar-medium{
    height: 8px;
    margin: 0px 4px 0px 4px;
}

.bar-tall{
    height: 12px;
    margin: 0px 2px 0px 8px;
}

.volume-control {
    height: 40px;    
    width: 40px;
    border-radius: 50%;
    border: 5px solid var(--commie-red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container{
    display: flex;
    
}

.game-status-bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* footer */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialMediaIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}

